app = "ecosynk-backend"
primary_region = "sin"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[env]
  ENVIRONMENT = "production"
  DEBUG = "false"
  API_HOST = "0.0.0.0"
  API_PORT = "8000"